#header{
    padding: 40px;
}

#navlist{
    list-style-type: none;
}
li{
    float: left;
}
nav{
    float:right
}
li a{
    padding: 35px;
}
#h2nav{
    float: left;
    margin-left: 120px;
    font-size: 35px;
    display: flex;
}
body{
    margin-top: 15px;
    
}
#main{
    margin:5% 3% 5% 5%;
}
#h2main{
    font-size: 30px;
}
#two{
    width: 33%;
}
#one{
    padding: 40px;
    background-color: #9e9e9e33;
}
button{
    padding: 9px;
}
.mainpara{margin-top: -10px;}

.abc{
    display: flex;
    place-content: center;
}
.a_font{
    color: black;
}
.def{
    float: left;
    width: 25%;
    display: flex;
    flex-wrap: nowrap; 
    margin: 30px;
    display: block;
    text-align: center;
    line-height: 1.4;
}
.ghi{
    background-color: #d3d3d367;
    padding: 78px 148px 70px 50px;}

    #footer{
        text-align: center;
        background-color: #d3d3d367;
        padding: 40px;
        margin: 0px 40px;
    }
    .float_left{
        float: left;
    }
    .float_right{
        float: right;
    }
    #SubmitBtn{
        color: white;
        padding: 14px 70px;
        background-color: dodgerblue;
        text-decoration: NONE;
        margin-left: 15px;
        font-weight: 800;
        font-size: 18px;
    }
    .subs{
        padding: 15px;
        font-size: 30px;
        font-weight: 800;
    }
    input{
        font-size: 16px;
        height: 44px;
        width: 30%;
    }
    .CEDCOSS{
        padding: 35px;}

@media screen and (max-width:800px){
    .abc{
        flex-direction: column;
    }
    .kk{
        flex-direction: column;
    }
  #header,#h2nav {
    flex-direction: column;
    margin-left: 0px;
}
}